body {
    background: lavender;
    font-family: Arial, "Courier New", sans-serif;
    line-height:1.0em;
}

div.wide {
    width:90%;
    max-width:1280px;
    max-height:720px;
    
    
}

footer {
    background:yellow 
}

iframe.thinglink {
    width:960px; 
    height:720px;}

figure {
    background: /*#EFD6F6*/ white;  
}
figure.shelf { 
   width:80%;
   margin:auto;
}

figcaption { 
    text-align: center;
    background: yellow;
}

img {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

img#PSB {
    width: 10%;
}

img#snip1:hover {
    transition:0.3s ease;
    transform:scale(1.5);
}

img#snip2:hover {
    transition:0.3s ease;
    transform:scale(1.5);
}

img#snip3:hover {
    transition:0.3s ease;
    transform:scale(1.5);
}

img#snip4:hover {
    transition:0.3s ease;
    transform:scale(1.5);
}

img#snip5:hover {
    transition:0.3s ease;
    transform:scale(1.5);
}

div.flex {
    
   display:flex; 
   
}

section {
    background: grey;
    width: 90%;
    margin: auto;
    padding:1em;
}

section.resume {
    padding-left: 5em;
    padding-right: 5em;
    background:silver;
   
}

section.inner {
    background:lavender;



